<p>pokemon works!</p>
<button (click)="getPokemonimg()">pokemon</button>

<figure class="card card--normal">
  <div class="card__image-container">
    <img src="{{pokemon?.sprites.other.home.front_default}}" (click)="alert()">   
  </div>
  
<figcaption class="card__caption">
  <h1 class="card__name">{{pokemon?.name}}</h1>

  <h3 class="card__type">
    {{pokemontype}}
  </h3>

  <table class="card__stats">
    <tbody *ngFor="let person of pokemon?.stats">
      <tr>
        <th >{{person.stat.name}}</th>
        <td >{{ person.base_stat }} </td>
      </tr>
    </tbody></table>
  
  <div class="card__abilities">
    <h4 class="card__ability">
      <span class="card__label">Ability</span>
      Run Away
    </h4>
    <h4 class="card__ability">
      <span class="card__label">Hidden Ability</span>
      Anticipation
    </h4>
  </div>
</figcaption>
</figure>
